<%= render "shared/header" %>

<div class='celeb-show-main'>
  <div class='celeb-show-content'>
    <div class='celeb-profile'>
      <%= image_tag @celeb.image, class: "celeb-image" %>
      <h2 class='celeb-show-name'>
        <%= @celeb.name %>
      </h2>
    </div>
  </div>
  <div class="user-comments">
    <% @rooms.each do |room|%>
      <ul class='user-comment-list'> 
        <li class='user-comment'>
          <%= image_tag "default-image.png", class: 'img1' %>
          <%= link_to "#{room.user.nickname}さんとのトーク", room_path(room), class: 'chat-room-name' %>
          <%= room.messages.last.content %> 
        </li>
      </ul>  
    <% end %>
  </div>
</div>

<%= render "shared/second-footer" %>