<%= render "shared/header" %>

<div class='user-show-main-1'>

  <div class='left-bar-1'>
    <div class='user-show-profile-1'>
      <%= image_tag @celeb.image, class: 'user-show-img-1'%>
      <div class='user-name-1'>
        <%= @celeb.name %>
      </div>
    </div>
    <h2>新着メッセージ</h2>
    <div class="celeb-comments-1">
      <% @rooms.each do |room| %>
        <% if room.block == nil%>
          <% room.messages.each do |message| %>
            <% if message.celeb_id == nil %>
              <% unless message.read %>
                <ul class='user-comment-list-1'> 
                  <li class='user-comment-1'>
                    <% if message.order %>
                      <p>🌟</p>
                      <%= image_tag message.user.image, class: 'img1' %>
                      <%= link_to "#{message.user.nickname}さん", room_path(message.room), class: 'chat-room-name' %>
                    <% else %>
                      <%= image_tag message.user.image, class: 'img1', style: "margin-left: 20px;"%>
                      <%= link_to "#{message.user.nickname}さん", room_path(message.room), class: 'chat-room-name' %>
                    <% end %>
                  </li>
                </ul>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class='right-bar-1'>
    <h2 class='chat-history-1'>トーク履歴</h2>
    <% @rooms.each do |room| %>
      <% unless room.block %>
        <ul class='user-comment-list-1'>
          <li class='user-comment-1'>
            <%# <%if room.user.order==true %>
              <%# <p>🌟</p> %>
              <%# <%= image_tag room.user.image, class: 'img1'%> %>
              <%# <%= link_to "#{room.user.nickname}さんとのトーク", room_path(room), class: 'chat-room-name' %> %>
            <%# <% else %> %> %>
              <%= image_tag room.user.image, class: 'img1'%>
              <%= link_to "#{room.user.nickname}さんとのトーク", room_path(room), class: 'chat-room-name' %>
            <%# <% end %> %>
          </li>
        </ul> 
      <% end %>
    <% end %>
  </div>


  <div class='block-user-1'>
    <h2 class='chat-history-1'>ブロックユーザー</h2>
    <% @blocks.each do |block| %>
      <ul class='user-comment-list-1'>
        <li class='user-comment-1'>
          <%=image_tag block.room.user.image, class: 'img1' %>
          <p class='chat-room-name'><%= "#{block.room.user.nickname}さんとのトーク" %></p>
          <%= link_to "ブロック解除", room_block_path(block.room,block), method: :delete , class: 'chat-room-name'%>
        </li>
      </ul>
    <% end %>
  </div> 
</div> 

<%= render "shared/second-footer" %>