<%= render "shared/header" %>

<div class='user-show-main'>

  <div class='left-bar'>
    <div class='user-show-profile'>
      <%= image_tag @celeb.image, class: 'user-show-img'%>
      <div class='user-name'>
        <%= @celeb.name %>
      </div>
    </div>
    <h2>新着メッセージ</h2>
    <div class="user-comments">
      <% @rooms.each do |room| %>
        <% room.messages.each do |message| %>
          <% if message.celeb_id == nil%>
            <% unless message.read %>
              <ul class='user-comment-list'> 
                <li class='user-comment'>
                  <%= image_tag message.user.image, class: 'img1' %>
                  <%= link_to "#{message.user.nickname}さん", room_path(message.room), class: 'chat-room-name' %>
                </li>
              </ul>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class='right-bar'>
    <h2 class='chat-history'>トーク履歴</h2>
    <% @rooms.each do |room| %>
      <ul class='user-comment-list'>
        <li class='user-comment'>
          <%= image_tag room.user.image, class: 'img1'%>
          <%= link_to "#{room.user.nickname}さんとのトーク", room_path(room), class: 'chat-room-name' %>
        </li>
      </ul>
    <% end %>
  </div>
</div> 

<%= render "shared/second-footer" %>