<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    だれでもかんたん、奇跡のチャットアプリ
  </p>
  <h2 class='ad-footer-title'>
    今すぐ無料ダウンロード！
  </h2>
  <div class='store-btn'>
    <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
    <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
  </div>
</div>

<div class='footer'>
  <div class='footer-contents'>
    <div class='sunny-details'>
      <h2 class='footer-content-head'>Sunnyについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'Sunny利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      <ul>
    </div>
    <div class='sunny-details'>
      <h2 class='footer-content-head'>Sunnyについて</h2>
      <ul>
        <li><%= link_to '有名人カテゴリー一覧', "#", class: "footer-link" %></li>
        <li><%= link_to '有名人一覧', "#", class: "footer-link" %></li>
      <ul>
    </div>
    <div class='sunny-details'>
      <h2 class='footer-content-head'>Sunnyについて</h2>
      <ul>
        <li><%= link_to 'Sunnyガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'Sunnyロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      <ul>
    </div>
  </div>
  <%= link_to image_tag("sunny.png", class:"logo-white"), "#" %>
  <p>@ Sunny</p>
</div>