<%= render "shared/header"%>

<div class='room-contents'>
  <div class='celeb-show-content'>
    <div class='celeb-profile'>
      <%= image_tag @room.celeb.image, class: "celeb-image" %>
      <h2 class='celeb-show-name'>
        <%= @room.celeb.name %>
      </h2>
    </div>
  </div>



  
  <% if user_signed_in? %>
    <h2>投稿する（一般ユーザー）</h2>
    <%= form_with model: @message, url:room_messages_path(@room), local: true do |f| %>
      <%= f.text_area :content%>
      <%= f.submit '投稿する'%>
    <% end %>
  <% else %>
    <h2>投稿する（有名人）</h2>
    <%= form_with model: @message, url:room_messages_path(@room), local: true do |f| %>
      <%= f.text_area :content%>
      <%= f.submit '投稿する'%>
    <% end %>
  <% end %>

</div>

<%= render "shared/second-footer" %>

