<%= render "shared/second-header" %>

<%= form_for @inquiry, url: confirm_inquiry_index_path do |f| %>
  <div class= "inquiry-form">
    <div class='container'>
      <div class="head">
        <h2>お問い合わせ</h2>
      </div>
      <% if @inquiry.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <strong>入力内容にエラーがあります</strong>
          <ul>
            <% @inquiry.errors.each do |attr, msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if current_user %>
        <%= f.text_field :name, value: @user_full_name, class:"text",placeholder: "Name"%>
        <br/>
        <%= f.text_field :email, value: current_user.email, class: "text",placeholder: "Email" %>
        <br/>
        <%= f.text_area :message, class: "text area", placeholder: "Message" %>
        <br/>
        <%= f.submit '確認', class: 'btn-primary' %>
      <% else %>
        <%= f.text_field :name, value: current_celeb.name, class:"text",placeholder: "Name"%>
        <br/>
        <%= f.text_field :email, value: current_celeb.email, class: "text",placeholder: "Email" %>
        <br/>
        <%= f.text_area :message, class: "text area", placeholder: "Message" %>
        <br/>
        <%= f.submit '確認', class: 'btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render "shared/second-footer" %>

