<!DOCTYPE html>
<html >
  <head>
    <%# <meta charset="utf-8"> %>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# <header>
    
    </header>

    <main>
    </main>

    <footer>
    </footer> %>
    <%= yield %>
  </body>
</html>
