<!DOCTYPE html>
<html >
  <head>
    <%# <meta charset="utf-8"> %>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon(init: true)%>
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <script src="js/celeb-index.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application'%>
    <script src="https://js.pay.jp/" , type="text/javascript"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
